h1,p{
    margin-left: 200px;
}
.container a{
    position: absolute;
    left: -100px;
    transition: 0.5s;
    padding: 15px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.container a:hover{
    left: 0;
}
#home{
    top: 20px;
    background-color: rgb(6, 128, 6) ;
}
#html{
    top: 100px;
    background-color: rgb(53, 186, 238);
}
#css{
    top: 180px;
    background-color: red;
}
#bootstrap{
    top: 260px;
    background-color: gray;
}