body{
    font-family: Arial;
    font-size: 20px;
}
.imgcontainer{
    text-align: center;
}
.avatar{
    width: 20%;
    border-radius: 50%;
}
.container{
    margin-top: 15px;
    margin-left: 500px;
}
input[type="text"],input[type="password"]{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
#s1{
    width: 52%;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(25, 154, 25);
    color: #fff;
    font-weight: bold;
}
input[type="checkbox"]{
    margin-top: 10px;
}
.c1{
    font-size: small;
    margin-left: 300px;
}
.btn{
    display: flex;
    margin-top: 30px;
}
#s2{
    border-radius: 10px;
    width: 5%;
    font-weight: bold;
    color: #fff;
    background-color: red;
    margin-left: 500px;
}