body{
    text-align: justify;
}
table{
    width: 100%;
    line-height: 50px;
    border-collapse: collapse;
    font-family: Arial;
}
th{
    background-color: rgb(53, 165, 103);
    color: #fff;
}
.c1{
    background-color: rgb(207, 201, 201);
}
.c2{
    background-color: #fff;
}